<div class="calendar">
  <div class="heading">
    <button id="chevron-left" class="btn btn-primary" type="button"> <span class="glyphicon glyphicon-chevron-left"></span> </button>
    <h1> {{date | date: 'MMMM y'}} </h1>
    <button id="chevron-right" class="btn btn-primary" type="button"> <span class="glyphicon glyphicon-chevron-right"></span> </button>

  </div>

  <table class="table table-bordered">
    <colgroup>
      <col>
      <col> 
      <col>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
      <tr>
        <th scope="col">SUNDAY</th>
        <th scope="col">MONDAY</th>
        <th scope="col">TUESDAY</th>
        <th scope="col">WEDNESDAY</th>
        <th scope="col">THURSDAY</th>
        <th scope="col">FRIDAY</th>
        <th scope="col">SATURDAY</th>
      </tr>
    </thead>
    <!-- <calendar-days></calendar-days> -->

    <tr *ngFor="let test of tests" >
      <td *ngFor="let test of dayTests" >{{test.number}}</td>
    </tr>


  </table>
</div>
